.title-servicios{

    font-size: 2.5rem;
    font-weight: 900;
    margin-bottom: 46px;
    margin-top: 4px;
    font-family: "Michroma", sans-serif;
    
}

.card-title {
  
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 35px;
  font-family: "Michroma", sans-serif;
  text-align: center;
}

.card-text {
  
  margin-top: 12px;
  display: flex;
  font-weight: bold;
}


.servicio-card {

  border-radius: 1rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 1rem;
}

.servicio-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 20px rgba(2, 136, 2, 0.459);
}

.servicio-card h5 {
  font-weight: 620;
  font-size: 1.1rem;
  margin-bottom: 2rem;
}

.servicio-card p{
    font-weight: 530;
    font-family: "Lato", sans-serif;
}

.informacion {
  font-weight: 530;
  font-family: "Lato", sans-serif;
  max-width: 900px;        /* Limita el ancho */
  margin: 0 auto 2rem;     /* Centra horizontalmente y da margen abajo */
  text-align: center;      /* Centra el texto dentro */
  padding: 0 1rem;         /* Espacio lateral en pantallas chicas */
}


.mapa-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1rem;
  text-align: center;
  
}

.titulo-mapa {

  font-family: "Michroma", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  background-color: #36a54c;
  padding: 12px;

}

.mapa-container iframe {
  
  border-radius: 12px;
  box-shadow: 0 9px 25px rgba(34, 255, 100, 0.582);
  
}
