.modo-oscuro {
  background-color: #094e20; /* verde oscuro de base */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%2339924b' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M0 0h40v40H0V0zm40 40h40v40H40V40zm0-40h2l-2 2V0zm0 4l4-4h2l-6 6V4zm0 4l8-8h2L40 10V8zm0 4L52 0h2L40 14v-2zm0 4L56 0h2L40 18v-2zm0 4L60 0h2L40 22v-2zm0 4L64 0h2L40 26v-2zm0 4L68 0h2L40 30v-2zm0 4L72 0h2L40 34v-2zm0 4L76 0h2L40 38v-2zm0 4L80 0v2L42 40h-2zm4 0L80 4v2L46 40h-2zm4 0L80 8v2L50 40h-2zm4 0l28-28v2L54 40h-2zm4 0l24-24v2L58 40h-2zm4 0l20-20v2L62 40h-2zm4 0l16-16v2L66 40h-2zm4 0l12-12v2L70 40h-2zm4 0l8-8v2l-6 6h-2zm4 0l4-4v2l-2 2h-2z'/%3E%3C/g%3E%3C/svg%3E");
  background-repeat: repeat;
  background-size: auto;
  color: white;
  text-shadow: 2px 2px 4px #016916;
  background-size: 250px 250px;
}

.modo-oscuro .main1-overlay {
  color: #ffffff;
  text-shadow: 2px 2px 4px #008b1e;
  background-color: #154b205d;
  box-shadow: 2px 2px 9px #88ce92cc;
}

.modo-oscuro .boton-reservar {
  background-color: #049721;
  color: #ffffff;
  box-shadow: 8px 4px 9px #049b1ad8;
}

.modo-oscuro .carousel {
  box-shadow: 0 0 40px rgb(3, 218, 74);
}

.modo-oscuro .main2-fondo {
  background-color: #006b23;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%2336a54c' fill-opacity='0.4' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-repeat: repeat;
  background-size: auto;
  color: white;
}

.modo-oscuro .card-overlay p {
  color: #f3aa2b;
  text-shadow: 2px 2px 9px rgb(0, 0, 0);
}

.modo-oscuro .servicio-card {
  border: 2px solid #a5ffb4;
  background-color: #36a54c;
  color: #ffffff;
}

.modo-oscuro .informacion {
  color: #ffffff;
  box-shadow: 0 0 40px rgb(3, 218, 74);
}

.modo-oscuro .contacto-redes {
  background-color: #36a54c;
  box-shadow: 2px 2px 40px rgb(0, 53, 18);
}

.modo-oscuro .icon {
  background-color: #008b1e;
}

.modo-oscuro .icon:hover {
  background-color: #000000;
}

.modo-oscuro .navbar-container {
  background-color: rgb(30, 184, 81);
}

.modo-oscuro .footer-container {
  background-color: #050505;
  color: #eaffed;
}

.modo-oscuro .footer-icons a {
  color: #ffffff;
}

.footer-icons a:hover {
  color: #08611e;
}

.modo-oscuro .form-login {
  
  background-color: rgb(16, 190, 74);
  box-shadow: 2px 2px 40px rgb(0, 53, 18);
  color: rgba(230, 255, 4, 0.897);
  text-shadow: 2px 2px 6px #03330b;
  font-size: 1.1rem;
  font-weight: bold;
}

.modo-oscuro .boton-login {
  background-color: #1c5a28dc;
box-shadow: 2px 2px 40px rgba(0, 53, 18, 0.671);
  color: #ffffff;
}

.modo-oscuro .boton-login:hover {
  background-color: #218838;
  border-color: #1e7e34;
}

.modo-oscuro .main1-fondo::after {
  background: linear-gradient(to top, rgba(7, 7, 7, 0.842), transparent);
}

.modo-oscuro .scroll-to-top {
  background-color: #36a54c;
}

.modo-oscuro .scroll-to-top:hover {
  background-color: #1e7e34;
  box-shadow: 0 6px 12px rgba(155, 252, 158, 0.623);
}

.modo-oscuro .form-register {
  
  background-color: rgb(16, 190, 74);
  color: rgba(230, 255, 4, 0.897);
  text-shadow: 2px 2px 6px #03330b;
  font-size: 1.1rem;
  font-weight: bold;
  
}

.modo-oscuro .boton-register {
  background-color: #037219;
  color: #ffffff;
}

.modo-oscuro .boton-register:hover {
  background-color: #218838;
  border-color: #1e7e34;
}

.modo-oscuro .footer-container {
  background: linear-gradient(to top, #125720, #16663a);
}
